"*":
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
  "autocomplete-plus": {}
  core:
    disabledPackages: [
      "vim-mode"
      "linter"
      "vim-mode-plus"
    ]
    projectHome: "/Users/tomohiro.taira/.local/src/"
    telemetryConsent: "no"
  editor:
    fontFamily: "\"MesloLGS Nerd Font\", \"Menlo for Powerline\", monospace"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "0bb8d154-bc69-8ab5-f933-e62955baca45"
  "file-types":
    json: "composer.lock"
  "fuzzy-finder":
    traverseIntoSymlinkDirectories: true
  "go-plus":
    panel:
      currentHeight: "10.23976023976024vh"
    vetOnSave: false
  gocode:
    includeCompletionsFromAllBuffers: true
  linter: {}
  "linter-rubocop": {}
  "linter-ui-default":
    showPanel: true
  metrics:
    userId: "352e9fd2d0c2d68f6f6a4794b8f8daa71bcbdfce"
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
  react: {}
  "release-notes":
    viewedVersion: "0.95.0"
  rspec:
    command: "bundle exec rspec"
  "tool-bar":
    position: "Left"
  toolbar:
    position: "Left"
    visible: false
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
