# OS X
.DS_Store

# Vimperator
/vimperator/info

# Zsh
/zsh/bin
/zsh/repos
/zsh/.cache
/zsh/zcompdump
/zsh/cdd_pwd_list
/zsh/cdd_pwd_list.t
/zsh/autoload/local.zsh

# Tmux
/tmux/plugins
/tmux/sidebar

# Vim
/vim/plugged
/vim/autoload
/vim/swaps/*

# Atom
/atom/storage
/atom/packages
/atom/compile-cache
/atom/blob-store
/atom/.apm
/atom/.apmrc
/atom/.node-gyp
/atom/.npm
