.netrwhist
/gem/credentials
/gem/ruby
/gem/specs
/*gemrc
/gitconfig
/irssi/config
network
pit
ssh/id_rsa
ssh/known_hosts*
vim/bundle
vim/vundle
vimperator/info
vmc_token
zsh/cdd_pwd_list
zsh/cdd_pwd_list.t
bin/fusemount
