[submodule "tmux/bundle/Linux/tmux-powerline"]
	path = tmux/bundle/Linux/tmux-powerline
	url = git://github.com/erikw/tmux-powerline.git
[submodule "tmux/colors/solarized"]
	path = tmux/colors/solarized
	url = git://github.com/seebi/tmux-colors-solarized.git
[submodule "zsh/completions"]
	path = zsh/completions
	url = git://github.com/zsh-users/zsh-completions.git
