[submodule "bundle/spot"]
	path = bundle/spot
	url = git://github.com/guille/spot.git
[submodule "bundle/p"]
	path = bundle/p
	url = git://github.com/Tomohiro/p.git
[submodule "bundle/h"]
	path = bundle/h
	url = git://github.com/Tomohiro/h.git
[submodule "bundle/zsh-completions"]
	path = bundle/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "bundle/tmux-powerline"]
	path = bundle/tmux-powerline
	url = git://github.com/erikw/tmux-powerline.git
[submodule "bundle/tmux-colors-solarized"]
	path = bundle/tmux-colors-solarized
	url = git://github.com/seebi/tmux-colors-solarized.git
[submodule "bundle/vimperator-plugins"]
	path = bundle/vimperator-plugins
	url = git://github.com/vimpr/vimperator-plugins.git
[submodule "bundle/auto-fu.zsh"]
	path = bundle/auto-fu.zsh
	url = git://github.com/hchbaw/auto-fu.zsh.git
[submodule "bundle/elfactory"]
	path = bundle/elfactory
	url = git://github.com/gongo/elfactory.git
[submodule "bundle/geed"]
	path = bundle/geed
	url = git://github.com/kinjo/geed.git
[submodule "bundle/git-prune-remote-branch"]
	path = bundle/git-prune-remote-branch
	url = git://github.com/kyanny/git-prune-remote-branch.git
[submodule "antigen"]
	path = antigen
	url = git://github.com/zsh-users/antigen.git
[submodule "bundle/antigen"]
	path = bundle/antigen
	url = git://github.com/zsh-users/antigen.git
[submodule "bundle/itunes-sync-bitcasa"]
	path = bundle/itunes-sync-bitcasa
	url = git://github.com/Tomohiro/itunes-sync-bitcasa.git
[submodule "bundle/bd"]
	path = bundle/bd
	url = git@github.com:vigneshwaranr/bd.git
[submodule "bundle/warp"]
	path = bundle/warp
	url = git@github.com:Tomohiro/warp
