[submodule "bundle/vimperator-plugins"]
	path = bundle/vimperator-plugins
	url = git://github.com/vimpr/vimperator-plugins.git
[submodule "bundle/XVim"]
	path = bundle/XVim
	url = git@github.com:XVimProject/XVim.git
[submodule "bundle/coreos-xhyve"]
	path = bundle/coreos-xhyve
	url = git@github.com:coreos/coreos-xhyve
	ignore = dirty
[submodule "bundle/httpstat"]
	path = bundle/httpstat
	url = git@github.com:reorx/httpstat.git
[submodule "bundle/tpdiff"]
	path = bundle/tpdiff
	url = git@github.com:gongo/tpdiff
