.DS_Store
/Darwin/private/bin/*
/Darwin/private/etc/*
/gem
/gitconfig.local
/netrc
/network
/pit
/sheets/*
/ssh/config
/ssh/id_rsa
/ssh/identities
/ssh/id_boot2docker
/ssh/id_boot2docker.pub
/ssh/known_hosts*
/vim/
/vimperator/info
/zsh/cdd_pwd_list
/zsh/cdd_pwd_list.t
/downcerrc
/ssh/*.old
/chef/data_bag_key
/waterworks
/tugboat
/skk
/chef
/tmux/plugins
